.sidebar {
  position: fixed;
  top: 0;
  right: -100vw; /* Oculto fuera de pantalla */
  width: 100vw;  /* Ancho total de la ventana */
  height: 100vh; /* Alto total de la ventana */
  background-color: #000;
  color: white;
  transition: right 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000; /* Para que quede arriba de todo */
}

.sidebar.active {
  right: 0; /* Aparece ocupando toda la pantalla */
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
  font-size: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
